/* Estilzações exclusivas da página */

.titulo{
    color: #090B2E;
}

.submit,.label-arquivo{
    background-color: #AB0045 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    cursor: pointer;
}

.input-arquivo {
    display: none;
}

.label-arquivo{
    height: 40px !important;
    align-items: center !important;

}

#disabledTextInput{
    background-color: #D3CACA;
    border: 1px solid #BCB3B3;
}


